:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  color: var(--On-secondary-color);
  background-color: var(--Background-color);
}
*{
  margin: 0;
}

.avatar{
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background: var(--Primary-color);
    color: white;

    font-weight: 600;
    font-size: 14px;

    user-select: none;
}

.list-item-surface-high{
  background-color: var(--Surface-container-high-color);
}

.list-item-surface-highest{
  background-color: var(--Surface-container-highest-color);
}
