.todolists-panel{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.todolists-panel__list{
    flex: 1;
}

@media (max-width: 1000px) {
    .todolists-panel{
        width: calc(100% - 32px);
        height: 250px;
        position: relative;
        .todolists-panel__list{
            flex: 1;
            overflow-y: auto;
        }
    }
}

.boards-btn{
    position: relative;
    flex: 0 0 60px;
    margin-inline: 5px;
    box-shadow: var(--shadow-elevation-20);
    &__icon{
        position: absolute;
        left: 20px;
        --icon-primary: var(--On-primary-container-color);
        top: 50%;
        transform: translateY(-50%);
    }
}