.todolists-panel{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 1000px) {
    .todolists-panel{
        width: calc(100% - 32px);
        height: 250px;
        position: relative;
        .todolists-panel__list{
            flex: 1;
            overflow-y: auto;
        }
    }
}