.comment-page{
    &__input-container{
        display: flex;
        align-items: center;
        gap: 10px;
        &__input{
            flex: 1;
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}