.todo-list-root{
    display: flex;
    height: 100vh;
    gap: 5px;
}

@media (max-width: 1000px) {
    .todo-list-root{
        flex-direction: column;
    }
}

.todo-list-page{
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
}